<!DOCTYPE html>
<html lang="en">
<head>
    <title>Client UI: Main</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

     <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
 	<script src="client-view.js"></script>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300&display=swap" rel="stylesheet">
    <link  rel="stylesheet" href="tearoom-theme.css">
    
    <script>connect()</script>
    
</head>
<body>
<noscript><div class="alert alert-danger" role="alert">Seems your browser doesn't support Javascript! Websocket relies on Javascript being
    enabled. Please enable
    Javascript and reload this page!</div></noscript>

 <section id="header" class="jumbotron text-center">
  <div style=" width: 100%; background-color: rgba(245, 245, 245, 0.35); padding-top: 5%; padding-bottom: 5%;">
    <h1 class="display-4" style="color: whitesmoke; text-align: center; text-shadow: 1px 1px #000000bb;">Welcome to our Tearoom <i class="fas fa-mug-hot"></i></h1>
    <hr class="my-3" width="75%">
    <p class="lead"  style="color: whitesmoke; font-family: 'Montserrat', sans-serif; text-shadow: 1px 1px #000000bb;">Come enjoy great Tea from all over the world, at a safe distance and served by the cutest Robot-Waiter you'll ever meet!</p>
  </div>
</section>

  <h3>Ring the Bell!</h3>
  <p> We will automatically check your temperature and request a table, we will be with you as soon as possible.</p>
  <div class="d-flex justify-content-center" >
    <button id="btn-smartbell" type="submit" class="btn btn-outline-light btn-lg" style="background-color: #6da177; width: 20%; align-self: center;">
      <i class="fas fa-concierge-bell"></i>
    </button> 
  </div>
</body>
</html>
