<!DOCTYPE html>
<html lang="en">
<head>
    <title>Client UI: Bad Temperature</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300&display=swap" rel="stylesheet">
    <link  rel="stylesheet" href="tearoom-theme.css">

    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <!--
      <script src="/webjars/jquery/jquery.min.js"></script>
      <script src="/webjars/sockjs-client/sockjs.min.js"></script>
      <script src="/webjars/stomp-websocket/stomp.min.js"></script>
   -->
    
    <!-- <script>connect()</script> -->
    
</head>
<body>
  <noscript>
    <div class="alert alert-danger" role="alert">Seems your browser doesn't support Javascript! Websocket relies on Javascript being
    enabled. Please enable
    Javascript and reload this page!
    </div>
  </noscript>

    <section class="container-fluid px-0">
      <!-- entire row -->
      <div class="row">
          <!-- image column -->
        <div class="col-md-6 order-1 order-md-1 d-flex flex-column">
            <img class="img-fluid d-none d-md-block" src="imgs/square-black-tea.png" alt="">
            <img class="img-fluid d-md-none" src="imgs/cropped-horizontal-black-tea.png" alt="">
        </div>
        <!-- text column -->
        <div class="col-md-6 order-2 order-md-2 d-flex flex-column">
              <!-- title row -->
              <div class="row align-items-center justify-content-center" style="padding-top: 2rem;">
                  <h2 >Sorry for the incovenience. Your temperature is too high.</h2>
                  <h2 >Come back when you're feeling better!</h2>
          </div>
            <!-- content row -->
       </div>
      </div>
  </section>
</body>

</html>
<!-- <div>Icons made by <a href="https://www.flaticon.com/authors/xnimrodx" title="xnimrodx">xnimrodx</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> -->
