<!DOCTYPE html>
<html lang="en">
<head>
    <title>Manager UI</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

     <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
 	<script src="manager-view.js"></script>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300&display=swap" rel="stylesheet">
    <link  rel="stylesheet" href="tearoom-theme.css">
    
    <script>connect()</script>
    <style>
      label {
        font-family: 'Montserrat', sans-serif;
        font-size: small;
      }

      h5 {
        font-family: 'Montserrat', sans-serif;
        font-size: small;

      }

      .card-header {
        font-family: 'Montserrat', sans-serif;
        background-color: rgb(255, 243, 225);
      }

    </style>
</head>
<body>
  <noscript>
    <div class="alert alert-danger" role="alert">Seems your browser doesn't support Javascript! Websocket relies on Javascript being
    enabled. Please enable
    Javascript and reload this page!
    </div>
  </noscript>

    <section class="container-fluid px-0">
      <!-- entire row -->
      <div class="row">
          <!-- image column -->
        <div class="col-lg-4 order-1 order-lg-1 d-flex flex-column">
            <img class="img-fluid d-none d-lg-block" src="imgs/pink-vertical-tea.jpg" alt="">
            <img class="img-fluid d-lg-none" src="imgs/cropped-pink-horizontal-tea.jpg" alt="">
        </div>
        <!-- text column -->
        <div class="col-lg-8 order-2 order-lg-2 d-flex flex-column" style="padding-right: 2rem;">
              <!-- smartbell and barman row -->
              <div class="row flex-grow-1" style="padding-top: 1rem; margin-bottom: 1rem;">
                <div class="col-sm">
                  <div class="card h-100">
                    <div class="card-header"> <b>Smartbell</b> </div>
                    <div class="card-body">
                        <div class="row align-items-center justify-content-center h-50">
                          <div class="col-sm-4 text-center">
                            <h5>Clients Processed</h5>
                            <label id="clientsProcessed">0</label>
                          </div>
                          <div class="col-sm-4 text-center">
                            <h5 >Admitted Clients</h5>
                            <label id="clientsAdmitted">0</label>
                          </div>
                          <div class="col-sm-4 text-center">
                            <h5 >Waiting Clients</h5>
                            <label id="clientsWaiting" >0</label>
                          </div>
                          <div class="col-sm-4 text-center">
                            <h5>Clients Left for Timeout</h5>
                            <label id="clientsWaitedLong">0</label>
                          </div>
                        </div>
                      
                        <hr class="my-4" width="75%">

                        <div class="row align-items-center justify-content-center">
                          <div class=" col-auto text-center">
                            <h5 >Current Task</h5>
                            <label class="w-100" id="smartbellCurrentTask"></label>
                          </div>
                        </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm">
                  <div class="card h-100">
                    <div class="card-header"> <b>Barman</b> </div>
                    <div class="card-body">
                        <div class="row align-items-center justify-content-center h-50">
                          <div class="col-sm-4 text-center">
                            <h5 >Orders Received</h5>
                            <label id="ordersReceived">0 </label>
                          </div>
                          <div class="col-sm-4 text-center">
                            <h5 >Total Teas Prepared</h5>
                            <label id="teasPreared">0 </label>
                          </div>
                          <div class="col-sm-4 text-center">
                            <h5>Teas Ready to be Served</h5>
                            <label id="teasReady">0</label>
                          </div>
                          <div class="col-sm-4 text-center">
                            <br>
                            <br>
                          </div>
                        </div>

                        
                        <hr class="my-4" width="75%">
                        <div class="row align-items-center justify-content-center">
                          <div class="col-auto text-center">
                            <h5 >Current Task</h5>
                            <label class="w-100" id="barmanCurrentTask"></label>
                          </div>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
            <!-- waiter row -->
          <div class="row align-items-center justify-content-center flex-grow-1"> 
              <div id="headingGroup" class="w-100"> 
                <div class="card">
                  <div class="card-header"> <b>Waiter</b> </div>
                  <div class="card-body">
                    <form >
                      <div class="form-row align-items-center justify-content-center">
                        <div class="form-group col-sm-4 text-center">
                          <h5>Free Tables</h5>
                          <label id="freeTables"> 0 </label>
                        </div>
                        <div class="form-group col-sm-4 text-center">
                          <h5>Clients Deployed to Table</h5>
                          <label id="deployedToTable"> 0 </label>
                        </div>
                        <div class="form-group col-sm-4 text-center">
                          <h5>Total Teas Delivered</h5>
                          <label id="teasDelivered"> 0 </label>
                        </div>
                      </div>

                      <div class="form-row align-items-center justify-content-center">
                        <div class="form-group col-sm-4 text-center">
                          <h5>Dirty Tables</h5>
                          <label id="dirtyTables"> 0 </label>
                        </div>
                        <div class="form-group col-sm-4 text-center">
                          <h5>Clients Deployed to Exit</h5>
                          <label id="deployedToExit"> 0 </label>
                        </div>
                        <div class="form-group col-sm-4 text-center">
                          <h5>Total Earnings</h5>
                          <label id="earnings"> 0 </label>
                        </div>
                      </div>
                      <hr class="my-4" width="75%">
                      <div class="form-row align-items-center justify-content-center">
                        <div class="form-group col-sm-4 text-center">
                          <h5>Current Task</h5>
                          <label class="w-100" id="waiterCurrentTask"></label>
                        </div>
                        <div class="form-group col-sm-4 text-center">
                          <h5>Current Movement</h5>
                          <label class="w-100" id="waiterCurrentMovement"></label>
                        </div>
                        <div class="form-group col-sm-4 text-center">
                          <h5>Current Position</h5>
                          <label class="w-100" id="waiterCurrentPosition"></label>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
          </div>  
        </div>
      </div>
  </section>
</body>

</html>