<!DOCTYPE html>
<html lang="en">
<head>
    <title>Client UI: Tearoom</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300&display=swap" rel="stylesheet">
     <link  rel="stylesheet" href="/tearoom-theme.css">

     <script src="https://kit.fontawesome.com/a076d05399.js"></script>
     

     <style>
      #header {
          background: url("imgs/black-horizontal-tea.jpg");
          background-size: cover;
          /* background: url("imgs/header.jpeg") center center / cover no-repeat; */
      }
  </style>
    <!--<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <script src="/app.js"></script> -->
    
    <!-- <script>connect()</script> -->
    
</head>
<body>
<noscript><div class="alert alert-danger" role="alert">Seems your browser doesn't support Javascript! Websocket relies on Javascript being
    enabled. Please enable
    Javascript and reload this page!</div></noscript>
<!-- 
    #fbe7cf
    #f6e7d0
 -->
    <!-- <div class="jumbotron" style="background-color: #fce8d7" >
        <h1 class="display-3" style="color: #a05b5e; text-align: center;">Tearoom <i class="fas fa-mug-hot"></i></h1>
        <hr class="my-4">
        <p class="lead" >Client ID:     Table: </p>
      </div> -->

      <section class="container-fluid px-0">
        <div class="row align-items-center content">
            <div class="col-md-6 order-1 order-md-1">
              <img class="img-fluid" src="imgs/square-black-tea.png" alt="">
            </div>
            <div class="col-md-6 order-2 order-md-2">
              <div id="headingGroup" class="text-center d-none d-lg-block ">
                
                <div class="container">
                  <div class="row">
                    <div class="col-sm">
                      <h2 style="text-align: left; font-family: 'Montserrat', sans-serif;">Client ID: 25</h2>
                    </div>
                    <div class="col-sm">
                      <h2 style="text-align: right; font-family: 'Montserrat', sans-serif;">Table: 1</h2> 
                    </div>
                  </div>
                </div>
                
                
                <p style="text-align: center; font-family: 'Montserrat', sans-serif;">When you're ready to order, call the Waiter by clicking the button.</p>
                <form><button type="submit" class="btn btn-outline-light btn-lg " style="background-color: #6da177; width: 25%;"><i class="fas fa-robot"></i></button> </form>
            </div>
                
            </div>
        </div>
    </section>
<!-- #e5a786
    #d28165
#e5ad8a -->
</body>
</html>
<!-- <div>Icons made by <a href="https://www.flaticon.com/authors/xnimrodx" title="xnimrodx">xnimrodx</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> -->
